.container {
  display: grid;
  grid-template-rows: 100vh repeat(3, auto) 100vh repeat(4, auto);
  grid-template-columns: [sideBare-start] 8rem [sideBare-end full-start] minmax(
      5rem,
      1fr
    ) [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11rem) [col-end]
    ) [center-end] minmax(5rem, 1fr) [full-end];

  @media screen and (max-width: $bp--md) {
    grid-template-columns: [full-start] minmax(
        5rem,
        1fr
      ) [center-start] repeat(
        10,
        [col-start] minmax(min-content, 11rem) [col-end]
      ) [center-end] minmax(5rem, 1fr) [full-end];

  grid-template-rows:6rem 100vh repeat(3, auto) 80vh repeat(3, auto);
    
  }

}
