//colors
$color-light : #fff;
$color-light-2 : #e1e1e1;
$color-dark-1 : #666666;
$color-dark-2 : rgba(28,28,28, 1);


//fonts 
$main-font: 'Lato', sans-serif;
$native-font: 'Dancing Script', cursive;

//break points 

$bp--large : 62.5em;
$bp--md : 53em;
$bp--sm : 34em;