.u-mt-s {
  margin-top: 2rem;
}
.u-mt-m {
  margin-top: 5rem;
}
.u-mt-l {
  margin-top: 7rem;
}
.u-mb-s {
  margin-bottom: 2rem;
}
.u-mb-m {
  margin-bottom: 5rem;
}
.u-mb-l {
  margin-bottom: 7rem;
}