.contact-title {
  grid-column: col-start 3 / col-end 8;
  padding: 5rem 0;

  @media screen and (max-width : $bp--sm) {
   grid-column: col-start 1 / col-end 10;
  }
}
.contact-form {
  margin-bottom: 15rem;
  grid-column: center-start / col-end 5;

  @media screen and (max-width : $bp--sm) {
    grid-column: full-start / full-end;
  }

  & form {
    display: grid;
    row-gap: 1rem;
    
    
  }

  & input {
    display: block;
    width: 85%;
    height: 5rem;
    // max-width: 48rem;
    padding-left: 1rem;
    border: solid $color-light-2;
    outline: none;
    border-radius: 2px;

    @media screen and (max-width : $bp--sm) {
      width: 95%;
      margin-inline:auto;
    }

    &::placeholder {
      font-size: 1.5rem;
      color: lighten($color-dark-1,15%);
    }

    
  }

  & .message {
    height: 25rem;
    position: relative;
    resize: none;
    border: solid $color-light-2;
    outline: none;
    width: 85%;
    // max-width: 48rem;
    padding: 1rem;

    @media screen and (max-width : $bp--sm) {
      width: 95%;
      margin-inline:auto;
    }

    &::placeholder {
      font-size: 1.5rem;
      color: lighten($color-dark-1,15%);
      font-family: $main-font;
    }
    
  }
  & button {
    width: 85%;
    background-color: $color-dark-2;
    color: $color-light;
    padding: 1.5rem 0;
    border: none;
    box-shadow: 0 2rem 3rem rgba(0,0,0,.2);
    transition: all .3s;

    @media screen and (max-width : $bp--sm) {
      width: 95%;
      margin-inline:auto;
    }
    &:hover{
      cursor: pointer;
      background-color: lighten($color-dark-2, 8%);
    }
  }
}


.contact-ifram {
  margin-bottom: 15rem;
  grid-column: col-start 6 / center-end;

  @media screen and (max-width : $bp--sm) {
    grid-column: full-start / full-end;
    display: grid;
    row-gap: 3rem;
  }

  & iframe {
    width: 100%;
    height: 85%;

    @media screen and (max-width : $bp--sm) {
      height: 65vh
      
    }
  
  }

  &__social {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;

    @media screen and (max-width : $bp--sm) {
      grid-template-columns: 1fr;
      justify-self: center;
      row-gap: 3rem;
    }
  }
  &__social-icons {
    display: flex;
    gap: 1.5rem;
    margin-right: 1.5rem;

    @media screen and (max-width : $bp--sm) {
      justify-self: center;
    }
    

    
    & a {
      text-decoration: none;
    }
    & i {
      color: $color-dark-2;
      font-size: 1.4rem;
      border: solid $color-light-2;
      padding: .5rem 1.5rem;
      border-radius: 5px;
      transition: all .3s;

      @media screen and (max-width : $bp--sm) {
        font-size: 2.7rem;
        padding: .5rem 2.5rem;
      }

      &:hover {
        background-color: $color-dark-2;
        color: $color-light;
      }
    }
  }
}
